meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, minimum-scale=1.0")

title Football Radar CSS – Demo

link( rel="stylesheet", href="main.css")

style.
    body {
        padding: 1em;
    }

    .c-layout-demo {
        padding: 1em;
        background-color: #ffc;
    }
