div(class="o-layout__item  u-1/1  u-1/2@md")
    div(class="c-comment")
        header(class="c-comment__header")
            h1(class="c-comment__title") Comment Title
            p(class="c-comment__author") Joe Bloggs
            time(class="c-comment__date", datetime="2015-06-01 15:00") June 1st, 2015 at 3:00pm
            
            ul(class="c-comment__labels")
                li(class="c-comment__label") General        
        p(class="c-comment__text") Lorem ipsum…
            
        